@import url('https://fonts.googleapis.com/css?family=Forum|Montserrat:400,600&display=swap');


html {

  body {

    @apply text-dark;
    font-family: 'Montserrat', sans-serif;

    h1 {

      font-family: 'Forum', serif;
      text-transform: uppercase;
    }


    input:focus, button:focus, select:focus, textarea:focus {
      outline: none;
    }

  }
}


.sidebar {
  @apply bg-white rounded h-full p-4;
  -webkit-box-shadow:0px 0px 25px 10px rgba(0,0,0,0.08) ;
  -moz-box-shadow:0px 0px 25px 10px rgba(0,0,0,0.08) ;
  box-shadow:0px 0px 25px 10px rgba(0,0,0,0.08) ;
}
