@import url('https://fonts.googleapis.com/css?family=Forum|Montserrat:400,600&display=swap');


html {

  body {

    @apply text-dark;
    font-family: 'Montserrat', sans-serif;

    h1 {

      font-family: 'Forum', serif;
      text-transform: uppercase;
    }


  }
}


.sidebar {
  @apply bg-white rounded h-full p-4;
  -webkit-box-shadow:0px 0px 25px 10px #ececec ;
  -moz-box-shadow:0px 0px 25px 10px #ececec ;
  box-shadow:0px 0px 25px 10px #ececec ;
}
