.login {
  height: 100vh;
  // background-color: #1D2E3B;
  background-color: white;


  .box {
    // max-width: 20vw;
    min-height: 35vh;
    // background-color: white;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;

    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);

    .left-box {
      background-color: #EDEDED;
      padding: 40px;

      display: flex;
      justify-content: center;
      flex-direction: column;

      .image {

        img {
          width: 45%;
          float:right;
          margin: 0;

          -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));

        }
      }

      .text {

        margin-top: 40px;
        span {
          float:right;
          color: #707070;
        }
      }


    }

    .right-box {
      background-color: #1d2e38;
      padding: 40px;

      form {
        width: 45%;

        position: relative;
        top: 50%;
        transform: translateY(-50%);

        input::placeholder {
          color: #B8C9C8;
        }

        button {
          color: white;
        }
      }
    }

  }
}
