.physician {


  min-height: 100vh;
  background-color: #E2E5E5;


  .top-bar {

    padding: 0;
    // position: sticky;
    // position: -webkit-sticky;
    // top:0;

    background-color: white;


    z-index: 500;


    .logo {
      padding: 7px 10px 7px 10px;
      background-color: #F5F4F4;
    }

    .search-bar {
      // background-color: #e8e8e8;
      background-color: white;
      border-bottom: #e8e8e8 solid 1px;
      min-height: 40px;
      z-index: 500;

      // position: sticky;
      // position: -webkit-sticky;
      // top:0;

      display: flex;
      align-items: center;

      span {
        margin-left: 25px;
        color: darkgrey;
      }

    }

    .user-details {
      // color: #079992;
      color: #079992;
      // background-color: #1d2e38;
      background-color: white;
      min-height: 40px;
      padding-right: 20px;

      border-bottom: #e8e8e8 solid 1px;


      display: flex;
      align-items: center;

      p {
        font-size: 1.1rem;
        // font-weight: bold;
        text-align: right;
        margin-bottom: 0;
        flex-grow: 1;
      }

      a {
        display: flex;
        align-items: center;

        i {
          padding-left: 10px;
          font-size: 1.3rem;
          margin-right: 0;
        }
      }

    }
  }


  .menu {

    min-height: 100vh;
    background-color: #1d2e38;



    display: flex;
    flex-direction: column;

    position: sticky;

    .logo {

      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #ededed;
      min-height: 45px;
      padding: 7px 10px 7px 10px;

      img {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .items {
      flex-grow: 1;

      padding: 20px 0px 20px 0px;
      // color: #079992;
      color: #96C6C3;

      .menu-section {

        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #0E171D;

        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #263C4D;

        ul {
          list-style: none;

          li.header {
            margin-top: 20px;
            // text-transform: uppercase;
            font-weight: bold;
          }

          li.item {
            text-indent: 8px;
          }

          a {
            color: inherit;
          }

          a:hover {
            color: #09C7BE;
          }
        }
      }

      .menu-section:first-child {
        border-top-style: none;
      }

      .menu-section:last-child {
        border-bottom-style: none;
      }

    }
  }

  .dashboard-content {
    // padding: 40px 30px 50px 30px;
    padding: 20px;
  }

  .middle {




    .patient-content {
      .summary {
        background-color: #ededed;
        min-height: 40px;
        padding-left: 15px;

        display:flex;
        align-items: center;

        font-size: 1.3rem;
        font-weight: bold;
        color: #1d2e38;;
        span {
          margin-left: 8px;
        }
      }

      .patient-tabs {
        .tabs {
          border-style: none;
          background-color: #ededed;
          padding-top: 15px;

          li {
            margin-left: 15px;
            background-color: rgba(7,153,146,0.18);

            a {
              padding-top: 9px;
              padding-bottom: 9px;
            }
          }
          li:hover {
            background-color: #1d2e38;
            transition-duration: 0.3s;
          }

        }
      }

      .tabs-content {
        border-style: none;
        border-width: 0;

      }
    }
  }





  .sidebar {
    background-color: rgba(7,153,146,0.18);
    min-height: 100vh;

    .top {
      // color: #079992;
      color: #96C6C3;
      background-color: #1d2e38;
      min-height: 45px;
      padding-right: 20px;

      display: flex;
      align-items: center;

      p {
        font-size: 1.1rem;
        // font-weight: bold;
        text-align: right;
        margin-bottom: 0;
        flex-grow: 1;
      }

      a {
        display: flex;
        align-items: center;

        i {
          padding-left: 10px;
          font-size: 1.3rem;
          margin-right: 0;
        }
      }

    }

    .items {
      padding: 20px;
    }

  }



  .chart {
    padding: 20px;
    .tabs {
      border: none;

      .fake-space {
        height: 50rem;
      }
      li {
        margin-left: 8px;
        // background-color: white;
        background-color: #ededed;

        border-top: #1D4B49 solid 2px;
      }

      li:first-child {
        margin-left: 0;
      }


    }


    .tabs-content {
      .section {

        margin-top: 30px;
        .header > span {
          color: #1D4B49;
          font-size: 1.1rem;
          font-weight: bold;
        }

        border-bottom: #ededed solid 2px;
      }
    }

  }



}
