.physician {

  // background-color: rgb(231,240,240);
  background-color: white;

  .middle {
    .search-bar {
      // background-color: #e8e8e8;
      background-color: white;
      border-bottom: #e8e8e8 solid 1px;
      min-height: 45px;

      position: sticky;
      position: -webkit-sticky;
      top:0;

      display: flex;
      align-items: center;

      span {
        margin-left: 25px;
        color: darkgrey;
      }

    }

    .content {
      padding: 50px 30px 50px 30px;
    }
  }

  .menu {

    background-color: #1d2e38;



    display: flex;
    flex-direction: column;
    .logo {

      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #ededed;
      min-height: 45px;
      padding: 7px 10px 7px 10px;

      img {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .items {
      flex-grow: 1;

      padding: 20px 0px 20px 0px;
      color: #079992;

      .menu-section {

        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #0E171D;

        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #263C4D;

        ul {
          list-style: none;

          li.header {
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          li.item {
            text-indent: 25px;
          }

          a {
            color: inherit;
          }

          a:hover {
            color: #09C7BE;
          }
        }
      }

      .menu-section:first-child {
        border-top-style: none;
      }

      .menu-section:last-child {
        border-bottom-style: none;
      }

    }
  }



  .sidebar {
    background-color: rgba(7,153,146,0.18);


    .top {
      color: #079992;
      background-color: #1d2e38;
      min-height: 45px;

      display: flex;
      align-items: center;

      p {
        font-size: 1.1rem;
        // font-weight: bold;
        text-align: right;
        margin-bottom: 0;
        flex-grow: 1;
      }

      i {
        padding-left: 10px;
        font-size: 1.3rem;
        margin-right: 0;
      }
    }

    .items {
      padding: 20px;
    }

  }



  .chart {
    padding: 20px;
    .tabs {
      border: none;

      .fake-space {
        height: 50rem;
      }
      li {
        margin-left: 8px;
        // background-color: white;
        background-color: #ededed;

        border-top: #1D4B49 solid 2px;
      }

      li:first-child {
        margin-left: 0;
      }


    }


    .tabs-content {
      .section {

        margin-top: 30px;
        .header > span {
          color: #1D4B49;
          font-size: 1.1rem;
          font-weight: bold;
        }

        border-bottom: #ededed solid 2px;
      }
    }

  }

  .dashboard {

    margin: 50px 20px 50px 20px;

    .widget {
      background-color: white;
      padding: 10px;
      // border-radius: 3px;
      margin-bottom: 10px;
      min-height: 10vh;

      .header span {
        font-size: 1.2rem;
        font-weight: bold;
        color: #1D4B49;
      }
    }
  }

}
