.provider {

  .menu {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .logo {
      padding: 10px 7px 10px 7px;
      background-color: #ededed;
    }

    .items {
      background-color: #1d2e38;
      flex-grow: 1;

      padding: 20px 0px 20px 0px;
      color: #079992;

      .menu-section {

        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #0E171D;

        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #263C4D;

        ul {
          list-style: none;

          li.header {
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: bold;
          }

          li.item {
            text-indent: 25px;
          }

          a {
            color: inherit;
          }
        }
      }

      .menu-section:first-child {
        border-top-style: none;
      }

      .menu-section:last-child {
        border-bottom-style: none;
      }

    }
  }

}
