@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700');

html, body {
  //background-color: white;
  overscroll-behavior: none;
  font-family: 'Nunito', sans-serif;
}



.alert-amber {
  // background-color: #fbc531;
  // background-color: #ffeaa7;
  background-color: #ffbe76;
  // color: grey;
  color: #f0932b;
  border-radius: 3px;
  border-color: #f0932b;
  border-width: 1px;
  border-style: solid;
  padding: 10px;

}

/* fieldsets */
.fieldset {
  legend {
    font-weight: bold;
    color: #079992;
  }
}


/* tables */
table {
  tr {
    td {
      padding: 4px 10px 4px 10px;

    }

    td:last-child {
      text-align: right;
    }
  }
}

.button.primary {
  color: white;
}



// vue components
.vue-input {
  margin-bottom: 0px;
  border-style: none;
  box-shadow: 0 0 0 0;

  color: #1d2e38;
  font-weight: bold;
  font-size: 1.2rem;

}

.vue-textarea {
  margin-bottom: 0px;
  border-style: none;
  box-shadow: 0 0 0 0;

  color: #1d2e38;
  // font-weight: bold;
  font-size: 1.2rem;
}

.vue-problem-list {
  list-style: none;
  margin-left: 0;

  color: #1d2e38;
  // font-weight: bold;
  font-size: 1.1rem;

  .active {
    font-weight: bold;
    color: #96C6C3;
  }

  .active:hover {
    color: #1d2e38;
    transition-duration: 0.5s;
    content: 'Disable';
  }

  .delete {
    color:lightgrey;
    font-weight:bold;
  }

  .delete:hover {
    color: $warning-color;
    transition-duration: 0.5s;
  }

}

.vue-patient-card {
  border: 1px solid lightgrey;
  margin: 10px;


  .left {
    background-color: rgba(7,153,146,0.18);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon {

      display: flex;
      justify-content: center;
      i {

        color: #1d2e38;
        font-size: 4.2rem;

        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .right {
    padding: 10px;

    .name {
      font-weight: bold;
      color: #1d2e38;
    }

    .details {
      color: #707070;
    }
  }

}
