@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700');

html, body {
  //background-color: white;
  overscroll-behavior: none;
  font-family: 'Nunito', sans-serif;
}

// .menu-left {
//   background-color: #1D2E3B;
//
//   .logo {
//     background-color: #c7c7c7;
//     margin: auto;
//     text-align: center;
//     padding-top: 10px;
//     padding-bottom: 10px;
//   }
//
//   .menu {
//     min-height: 100vh;
//     color: white;
//     display: flex;
//     flex-direction: column;
//
//     a {
//       color: inherit;
//     }
//
//     .menu-section {
//
//       padding-top: 30px;
//       padding-bottom: 30px;
//
//       border-bottom-color: #3B4953;
//       border-bottom-style: solid;
//       border-bottom-width: 1px;
//
//       color: #079992;
//
//       li {
//         list-style: none;
//       }
//       li:first-child {
//         text-transform: uppercase;
//         font-weight: 600;
//       }
//     }
//   }
// }
//
// .menu-right {
//
// }


.alert-amber {
  // background-color: #fbc531;
  // background-color: #ffeaa7;
  background-color: #ffbe76;
  // color: grey;
  color: #f0932b;
  border-radius: 3px;
  border-color: #f0932b;
  border-width: 1px;
  border-style: solid;
  padding: 10px;

  // .close-button {
  //   span {
  //     position: relative;
  //     top: -3px;
  //     color: grey;
  //   }
  // }
}
