.patient-card {
  display: flex;

  background-color: white;

  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);

  p {
    margin-bottom: 0;
    color: #1D2E3B;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
  }

  div {
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #C4C3C3;
  }

  div:first-child {
    border-left: none;

  }

  div:last-child {
    border-right: none;
    background-color: #96c6c3;

  }

  .tag {

    background-color: #96C6C3;
    padding: 7px;
    p {
      text-transform: uppercase;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-size: 0.6rem;
      color: #1D2E3B;
      font-weight: bold;
    }
  }

  .name {

    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;

  }

  .details {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }

  .chief-complaint {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;

    .label {
      background-color: inherit;
      font-size: 0.9rem;
      font-weight: normal;
      color: #707070;
      padding: 0;
    }
  }

  .reminders {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;

    .label {
      background-color: inherit;
      font-size: 0.9rem;
      font-weight: normal;
      color: #707070;
      padding: 0;
    }
  }

  .link {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 1rem;
      margin-left: auto;
      a {
        // color: #079992;
        color: #1D2E3B;
      }
    }

  }

}
